{% macro render_blog_post(post, from_index=false) %}
<article class="box container">
  {% if from_index %}
  <h2 class="title is-3"><a href="{{ post | url }}">{{ post.title }}</a></h2>
  {% else %}
  <h1 class="title is-1">{{ post.title }}</h1>
  {% endif %}


  <p class="mb-3 is-size-7">
    written by
    <span class="is-italic">
      {{ post.author }}
    </span>
    on
    <span class="is-italic">{{ post.pub_date }}</span>
  {% if post.tags %}
      <div class="tags">
      {% for t in post.tags -%}
          <a class="tag is-rounded" href="{{ ('/news@tag/' ~ t)|url }}">
            {{ t }}
          </a>
      {% endfor %}
      </div>
  {% endif %}
  </p>


  <div class="content">
    {{ post.intro }}
    {% if from_index %}
    <a href="{{ post | url }}">Read more...</a>
    {% else %}
    {{ post.body }}
    {% endif %}
  </div>
</article>
{% endmacro %}