{% extends 'layout.html' %}
{% from 'macros/blog.html' import render_blog_post %}
{% from 'macros/pagination.html' import render_pagination %}
{% block title %}
  {{ this.title }}
{% endblock %}
{% block body %}
{% if this.pagination is defined %}
  {% set tags = this.children.distinct("tags") %}
  {% set posts = this.pagination.items %}

{% else %}
  {% set tags = this.parent.children.distinct("tags") %}
  {% set posts = this.items %}
{% endif %}
<main class="section content">
<h1 class="is-1">PyCascades News</h1>
  <nav class="panel container is-max-tablet">
    <div class="panel-block">
        <div class="panel-icon has-text-primary is-vcentered"><span class="fa-solid fa-tags fa-lg"></span></div>
      <div class="tags container is-fluid">
      {% for t in tags -%}
        {% if this.tag is defined and this.tag == t %}
        <a class="tag is-rounded is-primary" href="{{ ('/news/')|url }}">
          {{ t }}
            <span class="delete is-small"></span>
        </a>
        {% else %}
        <a class="tag is-rounded" href="{{ ('/news@tag/' ~ t)|url }}">
          {{ t }}
        </a>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="panel-block">
        <div class="panel-icon has-text-primary is-vcentered"><span class="fa-solid fa-rss fa-lg"></span></div>
        <div class="container is-fluid"><a href="{{ '/news@atom/news'|url }}" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed">
          Subscribe
        </a></div>
    </div>
  </nav>
      {% for child in posts %}
        {{ render_blog_post(child, from_index=true) }}
      {% endfor %}
</main>
{% if this.pagination is defined  %}
  {{ render_pagination(this.pagination) }}
{% endif %}
{% endblock %}
