{% extends "page.html" %}
{% block body %}
<main>
<section class="section">
    <h1 class="title">All PyCascades Events</h1>
    <div class="panel">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Dates</th>
                    <th>City</th>
                    <th>Website</th>
                </tr>
            </thead>
            {% for year, conference in bag("conferences").items() %}
            <tbody>
                <tr>
                    <td>{{ conference.dates }}</td>
                    <td>{{ conference.city }}</td>
                    <td><a href="https://{{ conference.website }}">{{ conference.website }}</a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
</section>
</main>
{% endblock %}
