{% extends 'layout.html' %}
{% from 'macros/blog.html' import render_blog_post %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}
<section class="home">
    <section class="hero is-fullheight-with-navbar is-small city-image">
        <div class="hero-body is-fullheight-with-navbar">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="block">
                    <p class="title has-text-light is-2">PyCascades</p>
                    <p class="subtitle has-text-light is-3">Community PyCon for the PNW</p>
                </div>
            </div>
            <div class="column box">
                <div class="block">
                <p>
                    PyCascades is a regional Python software conference in the Pacific Northwest, celebrating the west
                    coast Python developer and user community. </p>
                <p>
                    Organized by members of the Python communities in Vancouver, Seattle, and
                    Portland, we aim to bring together Python users and developers from both
                    the Cascade Region and around the world.
                </p>
                <p>
                    The conference occurs each year around early spring, and rotates annually between Vancouver, British Columbia,
                    Seattle, Washington, and Portland, Oregon.
                </p>
                </div>
            </div>
        </div>
        </div>
    </section>
    </section>

    <section class="hero is-medium">
        <div class="hero-body">
            <div class="mailing-list block">
                <h4 class="title is-4">Keep in touch!</h4>
                <p class="block">
                    Join our newsletter to hear the latest news as soon as we announce them.
                </p>
                <p class="block">
                    We promise, we won't overload your inbox. (Fewer than 10 emails per year)
                </p>
                <form
                    action="https://buttondown.com/api/emails/embed-subscribe/pycascades"
                    method="post"
                    target="popupwindow"
                    onsubmit="window.open('https://newsletter.pycascades.com', 'popupwindow')"
                    class="embeddable-buttondown-form">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" id="bd-email" type="email" name="email" value="" placeholder="Your Email"
                                required="required">
                        </div>
                        <div class="control">
                            <button class="button is-primary" type="submit"><i class="fa-solid fa-paper-plane"></i>
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <a href="https://hachyderm.io/@pycascades">
                        <img src="{{ '/static/mastodon.svg' | asseturl }}" width="35" alt="mastodon icon"/>
                    </a>
                    You can follow us
                </div>
                <div class="column">
                    <a href="{{ '/news@atom/news'|url }}">
                        <img src="{{ '/static/rssfeed.webp' | asseturl }}" width="35" alt="rss icon"/>
                    </a>
                    Add our news to your feed
                </div>
                <div class="column">
                    <a href="https://join.slack.com/t/pycascades/shared_invite/zt-1l5libchy-RyQi1Kh0PS8DXCfhxhHZhQ">
                        <img src="{{ '/static/slack.svg' | asseturl }}" width="35" alt="slack icon"/>
                    </a>
                    Or join our Slack workspace
                </div>
            </div>
        </div>
</section>
{% endblock %}
